main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container{
    margin-top: 2%;
}

.title-container h1{
    margin: 0px;
}

.control-panel{
    margin-top: 1%;
    display: flex;
    height: 60px;
}

.control-panel div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    border-radius: 5px;
    border: 2px #1f2937 outset;
    margin: 1%;
    width: 220px;
    color: white;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.control-panel div:hover{
    background-color: #384557;
}

.products{
    width: 96%;
    margin: 1% 2% 2% 2%;
}

.products-grid, .no-product{
    background-color: #dadada;
    border-radius: 10px;
    width: 100%;
    border: 3px inset #dfdfdf;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.no-product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-product img{
    height: 150px;
    width: 150px;
}