<div class="product-form-container">
    <div class="product-form-title">
        <h1>
            {% if action == 'create' %}
                Create Product
            {% else %}
                Edit Product
            {% endif %}
        </h1>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="product-form-form-container">
            {% if product %}
                <label for="name">Name</label>
                <input type="text" name="name" value="{{ product.name }}">
                <label for="price">Price</label>
                <input type="number" name="price" value="{{ product.price }}">
                <label for="description">Description</label>
                <textarea name="description">{{ product.description }}</textarea>
            {% else %}
                <label for="name">Name</label>
                <input type="text" name="name">
                <label for="price">Price</label>
                <input type="number" name="price">
                <label for="description">Description</label>
                <textarea name="description"></textarea>
            {% endif %}
            <div class="product-form-submit">
                {% if action == 'create' %}
                    Create
                {% else %}
                    Edit
                {% endif %}
            </div>
        </div>
    </form>
</div>

<script>
    document.querySelector('.product-form-submit').addEventListener('click', function(){
        document.querySelector('.product-form-container form').submit();
    });
</script>