{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/templates/navigation-bar.css' %}">
    <title>Mango - Create Product</title>
{% endblock meta %}

{% block content %}
    <header>
        {% include 'navigation-bar.html' with title='Create Product' %}
    </header>
    <main>
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td><button>Create</button></td>
                </tr>
            </table>
        </form>
    </main>
    
{% endblock content %}