{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/main/components/navigation-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/components/product-form.css' %}">
    <title>Mango - Edit Product</title>
{% endblock meta %}

{% block content %}
    <header>
        {% include 'components/navigation-bar.html' with title='Edit Product' %}
    </header>
    <main>
        {% include 'components/product-form.html' with action='edit' product=product %}
    </main>
{% endblock content %}