{% extends 'base.html' %}

{% block meta %}
    <title>Mango - Home</title>
{% endblock meta %}

{% block header %}
    <h1>Mango E-Commerce</h1>
    <hr>
{% endblock header %}

{% block content %}
    <div>
        Developer: Dava Hannas Putra
        <br>
        Class: PBP E
    </div>
    <a href="{% url 'main:create-product' %}">Create a Product</a>

    <hr>
    {% if products %}
        <table>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Description</td>
            </tr>

            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.description }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No product has been created</p>
    {% endif %}

    <form method="POST" action="{% url 'main:log-out' %}">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
        
{% endblock content %}