{% extends 'base.html' %}

{% block meta %}
    <title>Mango - Home</title>
{% endblock meta %}

{% block content %}

    <h1>Mango E-Commerce</h1>
    <hr>
    <h4>Welcome, {{ username }}</h4>
    <p>Last log in: {{ last_log_in }}</p>
    
    <a href="{% url 'main:create-product' %}">Create a Product</a>

    <hr>
    {% if products %}
        <table>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Description</td>
                <td></td>
                <td></td>
            </tr>

            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.description }}</td>
                    <td><a href="{% url 'main:edit-product' product.id %}"><button>Edit</button></a></td>
                    <td><form action="{% url 'main:delete-product' product.id %}" method="POST">
                        {% csrf_token %}
                        <button>Delete</button>
                    </form></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No product has been created</p>
    {% endif %}

    <form method="POST" action="{% url 'main:log-out' %}">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
        
{% endblock content %}