{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Mango - Home</title>
    <link rel="stylesheet" href="{% static 'css/main/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/product-card.css' %}">
{% endblock meta %}

{% block content %}

    <h1>Mango E-Commerce</h1>
    <hr>
    <h4>Welcome, {{ username }}</h4>
    <p>Last log in: {{ last_log_in }}</p>
    
    <a href="{% url 'main:create-product' %}">Create a Product</a>

    <hr>
    <div class="products-container">
        <div class="title-container"><h2>Products</h2></div>
        {% if products %}
            <div class="products-grid"> 
                
                {% for product in products %}
                    {% include 'product-card.html' with product=product %} 
                {% endfor %}
            </div>
        {% else %}
            <div class="no-product">
                <img src="{% static 'images/empty-cardboard.png' %}" alt="Empty Cardboard"/>
                <p>No product has been created.</p>
            </div>
        {% endif %}
    </div>

    <form method="POST" action="{% url 'main:log-out' %}">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
        
{% endblock content %}