{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/main/log-in.css' %}">
    <title>Mango - Log In</title>
{% endblock meta %}

{% block content %}

    <div class="log-in-container">
        <div class="log-in-title">
            <h1>Log In</h1>
        </div>
        
        <form method="POST">
            {% csrf_token %}
            <div class="log-in-form-container">
                <input type="text" minlength="5" placeholder="Username" name="username">
                <input type="password" minlength="8" placeholder="Password" name="password">
                <div class="log-in-submit">
                    Log In
                </div>      
            </div>
        </form>
        
        <div class="log-in-register">
            Don't have any account? Register <a href="{% url 'main:register' %}">here</a>.
        </div>        
    </div>

    <script>
        document.querySelector('.log-in-submit').addEventListener('click', function(){
            document.querySelector('.log-in-container form').submit();
        });
    </script>

{% endblock content %}