{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/main/register.css' %}">
    <title>Mango - Register</title>
{% endblock meta %}

{% block content %}

    <div class="register-container">
        <div class="register-title">
            <h1>Register</h1>
        </div>
        
        <form method="POST">
            {% csrf_token %}
            <div class="register-form-container">
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <input type="password" placeholder="Confirm password" name="password-confirmation">
                <div class="register-submit">
                    Register
                </div>      
            </div>
        </form>
        
        <div class="register-log-in">
            Already have an account? Log in <a href="{% url 'main:log-in' %}">here</a>.
        </div>        
    </div>

    <script>
        document.querySelector('.register-submit').addEventListener('click', function(){
            document.querySelector('.register-container form').submit();
        });
    </script>
{% endblock content %}